
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e6ecf0;
    color: #333;
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
    font-weight: normal;
}

h1 {
    width: 100%;
    font-size: 18px;
    color: #333;
}

h2 {
    font-size: 14px;
    color: #555;
}

h3 {
    font-size: 12px;
    color: #888;
    display: inline;
    
}


.group-content {
    background-color: white;
    width: 100%;
    margin: 20px auto;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.principal-content {
    display: flex; 
    flex-direction: row; 
   
}

.header {
    background-color: #0077cc;
    padding: 10px;
    font-size: 18px;
    width: 100%;
}

.header h1{
    text-align: center;
    color: white;
}

.menu {
    color: white;
    clear: both;
    background-color: #f0f0f0;
    border-right: 1px solid #ddd;
    width: 20%; 
    padding: 10px 0;
    text-align: left;
    
}

.menu ul {
    list-style: none;
    margin-top: 10%;
    float: center;

}

.menu li {
    padding: 15px 20px;
    margin: 0.5%;
    cursor: pointer;
    font-size: 14px;
    background-color: #368fe8;
    text-align: center;
    width: 97%;
    
}

.menu li button {
    background-color: #193448;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}


.posts-section {
    width: 55%; 
    padding: 20px;
    background-color: #f9f9f9;
    
}

article {
    margin-top: 12px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

article hgroup img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

article h1 {
    font-size: 16px;
    font-weight: bold;
}

article h2 {
    font-size: 12px;
    color: #888;
}

article span {
    display: block;
    margin-top: 10px;
    color: #292d2e;
    font-size: 13px;

    
}
   

article footer {
    margin-top: 15px;
    font-size: 11px;
    color: #777;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #dddddd;
    padding-top: 10px;
}




.might-trends-section {
    width: 25%; 
    padding: 20px;
    background-color: #f0f0f0;
    border-left: 1px solid #ddd;
   
}

#searchID {
    margin-top: 5%;
    margin-bottom: 20%;
}

#searchID input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid  #368fe8;
    border-radius: 5px;
    background-color: #f9fafa;
}

#mightFollowID, #trendsID {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20%;
    padding: 15%;
    border-radius: 5%;
    box-shadow: 0% 2% 4% rgba(0, 0, 0, 0.1);
    width: 100%;
}

#mightFollowID h2, #trendsID h2 {
    font-size: 16px;
    margin-bottom: 10%;
    color: #333;
    width: 100%;
    font-weight: bold;
}

#mightFollowID ul, #trendsID ul {
    list-style: none;
    width: 100%;
}

#mightFollowID li, #trendsID li {
    width: 100%;
    display: flex;          
    flex-direction: column; 
    justify-content: space-between;
    margin-bottom: 10px;   
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #368fe8;
    color: white;
}

#mightFollowID li {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white; 
    flex-direction: row; 
    width: 100%;
}


#mightFollowID li span, #trendsID li span {
    display: block;        
    font-size: 100%;
    margin: 0%;  
    width: 100%;
           
}


.follow {
    display: flex;
    font-size: 14px;
    margin: 0; /* Quitar márgenes para mejor alineación */
    flex-direction: column; 
    
}


#mightFollowID li button {
    margin: 0%;
    padding: 5px 15px; 
    background-color: #193448;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end; 
    flex-direction: column; 
}

#mightFollowID li:last-child, #trendsID li:last-child {
    cursor: pointer; 
    align-items: center;
    flex-direction: column;
    color: white;
}


.foot {
    background-color: #0077cc;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    width: 100%;
}






